@media (max-width: 1440px){

.institution_row .institution_box .instituion_bottom_content .instituion_bottom_tittle h3 a {

    font-size: 19px;
}
.institution_row .institution_box .instituion_bottom_content .institution_bottom_info {
    margin: 10px 0 10px;
}

.institution_row .institution_box .institution_img {

    height: 200px;
  
}

.institution_row .institution_box .institution_img .institution_img_content .institution_logo {
    width: 75px;
    height: 75px;
}

.institution_row {
	.col-lg-3 {
		padding-left: 8px;
		padding-right: 8px;

	}
}

.institution_row .institution_box .instituion_bottom_content {

       padding: 5px 15px 15px 20px;
}

	
}