
.main_wrapper {

	height: 100vh;
	position: relative;
}


.header {

	 background-color: #2368a2;
	 padding: 15px 30px;
	 display: flex;
	 justify-content: space-between;

   .header_logo {

     a {
     	 display: block;

     	   img {

     	   	  width: 80px;
     	   }
     }

   }

   .header_nav_wrapper {
   	display: flex;
   	align-items: center;
   		nav {

   			 &>ul {
   			 	display: flex;

   			 	.nav_dropdown {
   			 		    position: absolute;
					    top: 100%;
					    left: 50%;
					    transform: translateX(-50%);
					    animation: navAnime .5s;
					    background-color: #2368a2;
					    padding: 10px 15px;
					    border-radius: 5px;
					  	z-index: 1000;
					    animation-fill-mode: forwards;
					    display: none;

					    ul {
  						margin-top: 10px;
					    	li {

					    		margin-bottom: 5px;

					    		a {

			   			 	 	 	color: #fff;
			   			 	 	 	font-family: $banneCaps;
			   			 	 	 	font-size: 13px;
			   			 	 	 	transition: all .4s;
			   			 	 	 	&:hover {
			   			 	 	 		opacity:.8;
			   			 	 	 	}
					    		}
					    	}
					    }


   			 	}

   			 	 .nav_li {
   			 	 	position: relative;

   			 	 	&:nth-child(3):hover .nav_dropdown{

   			 	 			display: block;
   			 	 	}

   			 	 	&:nth-child(3):after {
   			 	 		    background-image: url("../images/arrow.png");
						    background-repeat: no-repeat;
						    background-position: center;
						    content: "";
						    position: absolute;
						    top: 50%;
						    transform: translateY(-50%);
						    height: 9px;
						    width: 14px;
						    right: -15px;
   			 	 	}

   			 	 	&:not(:last-child) {
   			 	 		margin-right: 40px;
   			 	 	}

   			 	 	 a {

   			 	 	 	color: #fff;
   			 	 	 	font-family: $banneCaps;
   			 	 	 	font-size: 14px;
   			 	 	 	transition: all .4s;

			   			 	 	 	&:hover {
			   			 	 	 		opacity:.8;
			   			 	 	 	}
   			 	 	 }
   			 	 }
   			 }
   		}
   }

   .book_box  {

   	margin: 0 30px;

   	  a {
			color: #fff;
   			font-family: $banneCaps;
   			font-size: 14px;
   			background-color:#1a4971;
   			padding: 16px 28px;
   			border-radius: 10px;
   	  }
   }

   .language_box {
   	display: flex;
    align-items: center;
    margin-left: 50px;
   	  .flag_box {

   	  		 img {
   	  		 	width: 20px;
   	  		 }
   	  }

   select {

   		background-color:transparent;
   		border:none;
   		color: #fff;
   		font-family: $banneCaps;
   		font-size: 13px;
   		cursor: pointer;
   		margin-top: 3px;

   	   option {
   	   	color: #000;
   	   }
   }

   }
}


.header_search_box {
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: relative;
}
.header_search_box span {
    line-height: 1px;
    cursor: pointer;
}
.header_search_box span img {
    width: 17px;
}

.header_search_box .search_bar {
  	 position: absolute;
    top: 50%;
    right: 30px;
    width: 0px;
    overflow: hidden;
    transition: .4s;
    transform: translateY(-50%);
}

.header_search_box .search_bar input {
    background-color: #fff;
    width: 100%;
    outline: none;
    padding: 5px 5px;
   	font-family: $banneCaps;
    border-radius:5px;
    font-size:12px
}
 .header_search_box .search_bar.active {
    width: 200px;
}

.search_container {
	width: 1000px;
	margin:0 auto;
	background-color: #000000b0;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}


@keyframes navAnime {

	 0% {

	 	opacity: 0;
	 	transform: translateY(30px) translateX(-50%);
	 }


	 100% {
		opacity: 1;
	 	transform: translateY(0px) translateX(-50%);
	 }
}


.home_main_fluid {

	 height: calc(100% - 102px);
	 width: 100%;
	 position:relative;
	 overflow: hidden;
	 background-image:url("../images/car.jpg");
	 background-repeat:no-repeat;
	 background-size:cover;
	 background-position:left;
	 display: flex;
     align-items: center;
     justify-content: center;

  .home_main_info_wrapper {

  	display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;


  	.home_search_fluid {

  		border-radius:10px;
  		background-color:#f1f3f5;
  		overflow: hidden;
  		flex: 0 0 95%;
  		max-width: 400px;
  


  		 form {

  		 	.home_search_box {

  		 		 button {
  		 		 	width: 100%;
  		 		 	background-color:#1a4971;
  		 		 	font-family: $banneCaps;
  		 		 	font-size: 14px;
  		 		 	padding:10px 0;
  		 		 	color: #fff;
  		 		 	outline: none;
  		 		 	border-radius:5px;

  		 		 }
  		 	}

  		 	 .search_tittle {

  		 	 	background-color:#2368a2;
    			padding: 20px 0px;
    			text-align: center;

  		 	 	  h2 {
  		 	 	  	font-size: 22px;
  		 	 	  	font-family: $banneCaps;
    	  	 		color: #fff;		
  		 	 	  }
  		 	 }


  		 	 .search_info_tabs {
  		 	 	display: flex;
  		 	 	flex-direction: column;
  		 	 	 padding: 30px 25px;
  		 	 } 

  		 	 input::placeholder {
  		 	 		color: #858d95;
  		 	 }

  		 	 input, select {
				font-family: $banneCaps;
				font-size: 14px;
  		 	 	color: #858d95;
  		 	 	width: 100%;
  		 	 	margin-bottom: 10px;
  		 	 	border:1px solid #d9dce9;
  		 	 	border-radius:5px;
  		 	 	background-color:#fff;
  		 	 	 padding: 11px 5px 11px 12px;
  		 	 
  		 	 	
  		 	 }

  		 	 select{
  		 	 	cursor: pointer;
  		 	 }

  		 	 option {
  		 	 	font-size: 16px;
  		 	 }

  		 }
  	}

    .home_main_info {

    	max-width: 600px;
    	background-color:rgba(0,0,0,.5);
    	border-radius:5px;
    	 padding: 30px 15px;
    	     margin-right: 180px;

    	  .home_main_tittle {
  			  margin-bottom: 10px;
    	  	 h1 {
    	  	 	font-family: $banneCaps;
    	  	 	color: #fff;
    	  	 	font-size: 24px;
    	  	 }
    	  }



    	  .home_main_text_fluid {
    	  	.home_text {

    	  		 p {
    	  		font-family: $dejavu;
    	  	 	color: #fff;
    	  	 	font-size: 14px;
    	  	 	display: inline;
    	  		 }

    	  		 a {

    	  				font-family: $dejavu;
    	  	 	color: #f39c12;
    	  	 	font-size: 14px;
    	  		}
    	  	}

    

    
    	  } 
    }

  }

}



.home_company_fluid {

		background-color:#d9dce9;

	 .home_company_tittle {
	 	text-align: center;
	 	padding: 70px 0 60px;

	 	 h2 {
	 	 	color: #2368a2;
	 	 	font-size: 48px;
	 	 	font-family: $banneCaps;
	 	 }
	 }


	 .company_container {

	 		.company_main_info_box {

	 			position: relative;
	 		

	 			.company_bottom_info {
	 				width: 100%;

	 				.company_readmore_box {

	 					    margin-left: auto;
						    display: flex;
						    flex-direction: column;
						    align-items: flex-start;
						    justify-content: flex-end;

	 					.company_domein {
	 						margin-bottom: 10px;

	 						a {
	 							color: #516a83;
	 							font-size: 16px;
	 							font-family: $arial;
	 						}
	 					}

	 					.company_readmore {

	 						a {
	 							color: #fff;
	 							font-size: 16px;
	 							font-family: $arial;
	 							background-color:#72b1e4;
	 							padding: 8px 27px;
	 							border-radius:10px;
	 							display: inline-block;
	 						}
	 					}

	 				}


	 				
	 				position:absolute;
	 				left: 0;
	 				top: 100%;
	 				z-index: 100;
	 				border:1px solid #d9dce9;
	 				border-radius:0 0 10px 10px;
	 				background-color:#fff;
	 				padding:20px 20px;
	 				display: flex;

	 				.company_phone, .company_mail {
	 					display: flex;
	 					align-items:center;
	 					margin-bottom: 5px;

	 					div {
	 						background-color:#f0f2f4;
	 						width: 35px;
	 						height: 35px;
	 						border:1px solid #f0f2f4;
	 						background-clip: content-box;
	 						border-radius:10px;
	 						padding:2px;
	 						display: flex;
	 						align-items:center;
	 						justify-content: center;
	 					}

	 					span {
	 						margin-left: 10px;
	 					}
	 				}

	 				.company_bottom_title_info {
	 					margin-left: 20px;

	 					span {
	 						color: #34495e;
	 						font-size: 13px;
	 						font-family: $arial;
	 					}


	 					.company_tittle {
	 						h3 {

	 							a {
	 								
	 								    color: #34495e;
	 							font-size: 24px;
	 							font-family: $banneCaps;
	 							    margin-bottom: 10px;
	 							    transition: all .3s;

	 							    &:hover{
	 							    	color: #2368a2;
	 							    }
	 							}
	 							
	 						}
	 					}



	 				}

	 				 .compnay_bottom_logo {

	 				 	 width: 120px;
	 				 	 height: 120px;
	 				 	 border:1px solid #f0f3f6;
	 				 	 border-radius:10px;
	 				 	 display: flex;
	 				 	 align-items:center;
	 				 	 justify-content: center;

	 				 	  img {
	 				 	  	width: 80%;
	 				 	  	height: 80%;
	 				 	  	object-fit: contain;
	 				 	  }
	 				 }
	 			}

	 			.company_address_box {
	 				    position: absolute;
					    bottom: 10px;
					    left: 0;
					    display: flex;
					    justify-content: space-between;
					    width: 100%;
					    padding: 0 10px;
					    z-index: 1000;
	 				

	 				.company_addres_container {
	 					display: flex;
	 				align-items:flex-end;
	 				}

	 				.company_tabs_box {
	 					display: flex;

	 					.company_tabs {
	 						width: 30px;
	 						height: 30px;
	 						display: flex;
	 						align-items:center;
	 						justify-content: center;
	 						background-color:#fff;
	 						border-radius:7px;

	 						&:not(:last-child){
	 							margin-right: 5px;
	 						}

	 						span {
	 							font-family: $arial;
	 							font-size: 15px;
	 							color: #34495e;
	 							text-transform: uppercase;
	 						}
	 					}
	 				}

	 				.company_address_img {
	 					margin-right: 15px;
	 				}

	 				 .company_cities {
	 				 	a {
	 				 		font-family: $arial;
	 				 		color: #fff;
	 				 		font-size: 14px;
	 				 	}
	 				 }
	 			}


	 				.company_main_img {
	 					width: 100%;
	 					height: 315px;
	 					border-radius: 10px 10px 0 0;
    					overflow: hidden;
    					position:relative;

    					 &:after {
    					 	 width: 100%;
						    content: "";
						    position: absolute;
						    bottom: 0;
						    left: 0;
						    height: 20%;
						    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7),
						     rgba(0, 0, 0, 0));
						    background-size: contain;
						    z-index: 100;
    					 }
	 					a {
	 						display: block;
	 						width: 100%;
	 						height: 100%;

	 						img {
	 							width: 100%;
	 							height: 100%;
	 							object-fit: cover;
	 						}
	 					}
	 				}

	 		}

	 }

}

.home_banner_fluid {
	background-color:#fff;
	 padding: 250px 0 0px;
}
.home_banner_box {

	 	max-width: 800px;
	 	height: 100px;
	 	background-color:#d9dce9;
	 	 margin: 0px auto 50px;
	 	width: 95%;
	 }
.home_tech_date_fluid {

	background-image:linear-gradient(rgba(0,104,178,.8),
    rgba(0,104,178,.8)),url("../images/Layer-8.png");
    background-position: center;
    background-size: cover;
	.row {

		.home_map_fluid {
			height: 100%;

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		.col-md-6{ 
			padding-right:0px;
			padding-left:0px;

			.tech_date_checker {

				max-width: 375px;
				margin: 0 auto;
		

				.car_category {

					display: flex;
					justify-content: space-between;

					select {
						font-family: "Conv_bpg_banner_caps";
					    font-size: 14px;
					    color: #858d95;
					    width: 46%;
					    border: 1px solid #d9dce9;
					    border-radius: 5px;
					    background-color: #fff;
					    padding: 15px 5px 15px 12px;
					}

					button {
						    font-family: "Conv_bpg_banner_caps";
					    font-size: 14px;
					    background-color: #f39c12;
					    color: #2368a2;
					    border-radius: 10px;
					    display: inline-block;
					    width: 46%;
					}
				}

				.car_nubmer {

					    margin-bottom: 15px;

					input {
					    font-family: "Conv_bpg_banner_caps";
					    font-size: 14px;
					    color: #858d95;
					    width: 100%;
					    margin-bottom: 10px;
					    border: 1px solid #d9dce9;
					    border-radius: 5px;
					    background-color: #fff;
					    padding: 14px 5px 14px 12px;
					    text-align: center;

					    &::placeholder {
					    	 color: #858d95;
					    }
						
					}
				}
			}


			.home_tech_date_box {
				max-width: 575px;
				margin-left: auto;
				padding: 45px 35px 80px 0;
				    
				.tech_date_tittle {
					text-align: center;

					 h3 {
					 	font-size: 25px;
					 	font-family:$banneCaps;
					 	color: #fff;
					 	margin-bottom: 10px;
					 }

					 p {
					 	font-family: $arial;
					 	font-size: 14px;
					 	color: #fff;
					 	text-align:justify;
					 }
				}
			}

		 }

	}
}


.instution_fluid {
    padding: 100px 15px;
    background-color:#f4f6f9;

	 .inst_title_box {
	 	padding:0 75px;
	 	display: flex;
	 	justify-content: space-between;
	 	margin-bottom: 50px;

	 	  .inst_tittle {

	 	  	 h3 {
	 	  	 	color: #34495e;
	 	  	 	font-family: $banneCaps;
	 	  	 	font-size: 24px;
	 	  	 }
	 	  }


	 	  .inst_readmore {

	 	  	a {
	 	  	 	font-family: $banneCaps;
	 	  		font-size: 16px;
	 	  		color: #dc3030;
	 	  	}
	 	  }
	 }
}

.institution_row {
	 .institution_box {
	 	border-radius:10px;
	 	overflow: hidden;

	 	.instituion_bottom_content {
	 		background-color:#fff;
	 		padding: 20px 20px 20px 25px;

	 		.institution_bottom_readmore {

	 			display: flex;
	 			justify-content: space-between;

	 			.company_domein {
	 				a {
						color: #516a83;
					    font-size: 16px;
					    font-family: "Conv_BPG Arial 2010";
	 				}
	 			}

	 			.company_readmore {
	 				a {
				    color: #fff;
				    font-size: 16px;
				    font-family: "Conv_BPG Arial 2010";
				    background-color: #72b1e4;
				    padding: 8px 27px;
				    border-radius: 10px;
				    display: inline-block;
					 				}
	 			}



	 		}

	 		.institution_bottom_info {
	 			margin: 20px 0 15px;

	 			.company_phone, .company_mail, .company_location {

	 				span {
	 					    color: #34495e;
						    font-size: 13px;
						    font-family: "Conv_BPG Arial 2010";
						    margin-left: 10px;
	 				}

	 				div {
	 					background-color: #f0f2f4;
					    width: 35px;
					    height: 35px;
					    border: 1px solid #f0f2f4;
					    background-clip: content-box;
					    border-radius: 10px;
					    padding: 2px;
					    display: flex;
					    align-items: center;
					    justify-content: center;
	 				}

	 				    display: flex;
					    align-items: center;
					    margin-bottom: 5px
	 			}

	 		}

	 		.instituion_bottom_tittle {
						    text-align: center;

	 			h3 {

	 				a {
							color: #34495e;
						    font-size: 24px;
						    font-family: "Conv_bpg_banner_caps";
						    margin-bottom: 10px;
						    transition: all .3s;
						    &:hover {
							color: #2368a2;
						    	
						    }
	 				}
	 			}
	 		}
	 	}


	 	 .institution_img {
					width: 100%;
				    height: 250px;
				    overflow: hidden;
				    position: relative;

				    .institution_img_content {
				    	    position: absolute;
					    bottom: 10px;
					    left: 0;
					    display: flex;
					    justify-content: flex-start;
					    align-items: flex-end;
					    width: 100%;
					    padding: 0 10px;
					    z-index: 1000;

					    .company_tabs_box {
					    		   display: flex;

					    	 .company_tabs {
								    width: 30px;
								    height: 30px;
								    display: flex;
								    align-items: center;
								    justify-content: center;
								    background-color: #fff;
								    border-radius: 7px;
								    span {
								    	    font-family: "Conv_BPG Arial 2010";
										    font-size: 15px;
										    color: #34495e;
										    text-transform: uppercase;
									    }
								    &:not(:last-child) {
								    	margin-right: 5px;
								    }
					    	 }
					    }

					     .institution_logo {
					     	   width: 90px;
						    height: 90px;
						    background-color:#fff;
						    border-radius: 10px;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						     margin-right: 10px;
					     	 img {
					     	 	 
						        width: 80%;
							    height: 80%;
							    object-fit: contain;
					     	 }
					     }
				    }
	 	 	 a {
	 	 	 	    display: block;
				    width: 100%;
				    height: 100%;
	 	 	 	 img {
					width: 100%;
				    height: 100%;
				    object-fit: cover;
	 	 	 	 }
	 	 	 }
	 	 }
	 }
}


.footer_fluid {

	background-color:#f4f6f9;
	padding-bottom: 50px;

	 .container {

	 	.social_row {
	 		border-top:1px solid #d0d8df;
	 		padding-top:15px;
	 	}


	 	.footer_nav {

	 		 ul {
	 		 	    display: flex;
				    justify-content: space-between;
				    padding: 15px 100px;
	 		 	li {



	 		 		a {
	 		 			font-family: $arial;
	 		 			font-size: 14px;
	 		 			color: #516a83;
	 		 		}

	 		 	}
	 		 }
	 	}

	 }


	 .footer_social {

	 	a {

	 		display: inline-block;

	 		&:not(:last-child){
	 			margin-right: 10px;
	 		}
	 	}
	 }

	 .copyright {

	 	text-align: center;
	 	span {
	 		font-family: $arial;
	 		font-size: 14px;
	 		color: #516a83;
	 	}
	 }
}

.page-link {
	font-family: $arial;
	transition: .2s;

	&:hover {
		transform: translateY(-3px);
	}
}

